# ==============================
# Open WebUI Settings (OpenRouter)
# ==============================
OPENAI_API_KEY=your-openrouter-api-key
OPENAI_API_BASE_URL=https://openrouter.ai/api/v1
LLM_MODEL_NAME=openai/gpt-4o-mini

ENABLE_SIGNUP=false
# WEBUI_PORT=3000 production Not use

# ==============================
# Database Settings (PostgreSQL)
# ==============================
POSTGRES_USER=admin
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=enterprise_ai
POSTGRES_PORT=5432
# ==============================
# Open WebUI: Web Search & Tools
# ==============================
CHAT_RESPONSE_MAX_TOOL_CALL_ITERATIONS=8
ENABLE_WEB_SEARCH=true
WEB_SEARCH_ENGINE=ddgs
DDGS_BACKEND=duckduckgo
WEB_SEARCH_RESULT_COUNT=3
WEB_SEARCH_CONCURRENT_REQUESTS=2
WEB_LOADER_CONCURRENT_REQUESTS=2
WEB_LOADER_ENGINE=safe_web
WEB_LOADER_TIMEOUT=15
WEB_FETCH_MAX_CONTENT_LENGTH=16000
ENABLE_WEB_SEARCH_CONFIRMATION=true

# ใช้เมื่อรัน API นอก Docker (ใน docker-compose จะ override เป็น db)
DB_HOST=db

# ==============================
# Sales Database (External PostgreSQL)
# ==============================
SALES_DB_HOST=your-sales-db-host
SALES_DB_NAME=posbk
SALES_DB_USER=your-sales-db-user
SALES_DB_PASSWORD=your-sales-db-password
SALES_DB_PORT=5432


ORACLE_USER=ชื่อยูสเซอร์
ORACLE_PASSWORD=รหัสผ่าน
ORACLE_HOST=192.168.x.x
ORACLE_PORT=1521
ORACLE_SERVICE=ชื่อเซอร์วิสหรือSID

# ==============================
# Authentik SSO (API only)
# ==============================
AUTHENTIK_ISSUER=https://authentik.example.com/application/o/your-app/
AUTHENTIK_JWKS_URL=https://authentik.example.com/application/o/your-app/jwks/
OAUTH_CLIENT_ID=your-oauth-client-id
AUTHENTIK_GROUP_CLAIM=groups

